<%- include('../../fragments/header.ejs') %>
<main>
  <h2><%= pageTitle%></h2>
  <%if(purchases.length){%>
  <div class="tabeleczka">
    <table class="table-list">
      <thead>
      <tr>
        <th><%=__('client.fields.firstName')%></th>
        <th><%=__('client.fields.lastName')%></th>
        <th><%=__('flat.fields.street')%></th>
        <th><%=__('list.actions.title')%></th>
      </tr>
      </thead>
      <tbody>
      <%for (let purchase of purchases){%>
      <tr>
        <td><%=purchase.Imie%></td>
        <td><%=purchase.Nazwisko%></td>
        <td><%=purchase.ulica%> <%=purchase.numerBudynku%></td>
        <td>
          <ul class="list-actions">
            <li><a href="/Purchases/Details/<%=purchase.ID_Kupna%>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
            <li><a href="/Purchases/edit/<%=purchase.ID_Kupna%>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
            <li><a href="/Purchases/delete/<%=purchase.ID_Kupna%>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
          </ul>
        </td>
      </tr>
      </tbody>
      <%}%>
    </table>
  </div>
  <%}else{%>
    <p><%=__('purchase.list.noData')%></p>
  <%}%>
  <p>
    <a href="/Purchases/add" class="button-add"><%=__('purchase.list.addNew')%></a>
  </p>
</main>
<%- include('../../fragments/footer.ejs') %>
</body>
</html>