<%- include('../../fragments/header.ejs') %>
<main>
  <h2><%= pageTitle%></h2>
  <%if(clients.length){%>
  <div class="tabeleczka">
    <table class="table-list">
      <thead>
      <tr>
        <th><%=__('client.fields.firstName')%></th>
        <th><%=__('client.fields.lastName')%></th>
        <th><%=__('list.actions.title')%></th>
      </tr>
      </thead>
      <tbody>
      <%for (let client of clients){%>
        <tr>
          <td><%= client.imie %></td>
          <td><%= client.nazwisko %></td>
          <td>
            <ul class="list-actions">
              <li><a href="/Clients/details/<%=client.klientId%>" class="list-actions-button-details"><%=__('list.actions.details')%></a></li>
              <li><a href="/Clients/edit/<%=client.klientId%>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a></li>
              <li><a href="/Clients/delete/<%=client.klientId%>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a></li>
            </ul>
          </td>
        </tr>
      <%}%>
      </tbody>
    </table>
  </div>
  <%}else{%>
    <p><%=__('client.list.noData')%></p>
  <%}%>
  <p>
    <a href="Clients/add" class="button-add"><%=__('client.list.addNew')%></a>
  </p>
</main>
<%- include('../../fragments/footer.ejs') %>
</body>
</html>